footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: #e9ecef;
  line-height: 35px; }
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px); } }
