<script>
//Function to refresh div and pull from django

$('#alertBellNotification').load("/Nurse/notificationBell/");

setInterval(function(){
    $('#alertBellNotification').load("/Nurse/notificationBell/");
    console.log("reloading!");
},10000);

//Function for updating Noti Count after clicking Bell

function updateNotiCount() {
    //console.log("{{outstandingCount}}");
    $.ajax({
        type: 'POST', //GET, POST, PUT or DELETE
        url: '/Nurse/updateNotiCount/',
        data: {},
        success: function (msg) {
            console.log("Calling updateNotiCount in Django");
        }
    });
}

</script>

<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
	{% include "../ui_components/notificationBell.html" %}
    <!-- /.dropdown -->
    <li class="dropdown">
        <a href="{% url 'logout' %}"><i class="fa fa-power-off fa-fw"></i> Logout</a>
    </li>
    <!-- /.dropdown -->
</ul>
