{% extends 'base.html' %}

{% block page_stylesheets %}
    <style type="text/css">

    </style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script type="text/javascript">
        var link = document.createElement('link');
        link.href = "/static/dist/css/admin.css";
        link.rel = "stylesheet";
        document.getElementsByTagName("head")[0].appendChild(link)

        function categoryPiechartInit(){
            $.ajax({
                type:"GET",
                url: "/Admin/get_category_pie_data/",
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    new Morris.DonutSegment({
                        element:'category-pie-chart',

                        data:{

                        }
                    });
                },
                error: function(data){
                    console.log(data);
                }
            });
        }

        //Load Modal for Help Request Select Nurse
        function loadHRModal(id, helper_id){
            $('#HRId').val(id);
            var select = document.getElementById('HRNurse');
            var option = document.createElement("option");
            $.ajax({
                type:"GET",
                url: "/Admin/get_nurse_teammates/"+helper_id,
                dataType: 'json',
                success: function (data) {
                    $('#HRNurse').find('option').remove();

                    for(i in data){
                        var option = document.createElement("option");
                        option.value = data[i]['id'];
                        option.text = data[i]['name'];
                        select.add(option);
                    }

                },
                error: function(data){
                    console.log(data);
                }
            });
        }

        //Assign Nurse to Help Request
        function hrAssignNurse(){
            $.ajax({
                type:"POST",
                url: "/Admin/assign_nurse_hr/",
                data:$('#assignNurseHRForm').serialize(),
                success: function (data) {
                    console.log('success');
                    new PNotify({
                        type: 'success',
                        title: 'Nurse Assigned Successfully!',
                    });
                    //Remove the Report form the panel
                    var id = $('#HRId').val();
                    $("#"+id+'HRBtn').remove();
                    $('#helpRequestModal').modal('hide');
                    $('#hrCfmTaskModal').modal('hide');
                },
                error: function(error){
                    console.log('fail');
                    new PNotify({
                        type: 'error',
                        title: 'Error Adding!',
                        text: error.toString()
                    });
                }
            });
        }

        function reloadHRPanel(){
            var panel = document.getElementById('helpRequestPanel');

        }

    </script>
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'administrator/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'administrator/ui_components/top-menu.html' %}
{% endblock topmenu %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3 ">
                            <i class="fa fa-user-md fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right huge">
                            <div class="huge">{{ activeNurses }}</div>
                            <div class="medium">Active Nurses</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ patients }}</div>
                            <div class="medium">Active Patients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ completed }}</div>
                            <div class="medium">Completed Task</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ remaining }}</div>
                            <div class="medium">Remaining Tasks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4">
            <!-- Ongoing Task Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-spinner fa-fw"></i> Ongoing Tasks
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for OGTask in ongoingTasks %}
                            <a id="{{ OGTask.task.title }}" class="list-group-item">
                                <b>Task:</b> {{ OGTask.task.title }}  &nbsp&nbsp
                                <b>Nurse:</b> {{ OGTask.nurse.user.first_name }}
                                {{ OGTask.nurse.user.last_name }}

                                <span class="pull-right text-muted small">
                                    <em>
                                        {{ OGTask.timefrom }}
                                    </em>
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

        <!-- HELP REQUEST PANEL -->
        <div  id="helpRequestPanel" class="col-md-4">
            {% include 'administrator/ui_components/help_request_panel.html' %}
        </div>

        <!-- CHART PANEL -->
        <div class="col-md-4">
            <!-- Category Tasks -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                </div>
                <div class="panel-body">
                    <div id="category-pie-chart">

                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

    </div>

{% endblock content %}