{% extends 'base.html' %}

{% block page_stylesheets %}
    <style type="text/css">

    </style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script type="text/javascript">
        var link = document.createElement('link');
        link.href = "/static/dist/css/admin.css";
        link.rel = "stylesheet";
        document.getElementsByTagName("head")[0].appendChild(link)



        function categoryPiechartInit(){
            $.ajax({
                type:"GET",
                url: "/Admin/get_category_pie_data/",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#taskList").childNodes("div").hasClass('list-group').append(data);
                },
                error: function(data){
                    console.log(data);
                }
            });
        }


        //Code for the Task Panel to show and not show!
        var prevBtnClick = -1;
        var panelOpen = false;
        function display(id){
            $.ajax({
                type:"POST",
                url: "/Admin/get_patient_tasks/",
                data:{'id':id},
                success: function (data) {
                    panelOpen = ($("#taskList").css("display")!="none");

                    $("#taskList").slideToggle();

                    if(prevBtnClick != id && prevBtnClick != -1 && panelOpen)
                        $("#taskList").slideToggle();
                    $("#taskList").html(data);
                    prevBtnClick = id;
                },
                error: function(data){
                    console.log(data);
                }
            });
        }


        function search(){
            console.log("search event");
            var reset = false;
            var searchTerm = $("#PatientSearchBar").val().toLowerCase();
            var nameBtns = $("#patientPanel").find("div.name");
            if(searchTerm == ''){
                reset = true;
            }
            console.log(reset);
            for(var i=0; i <nameBtns['length']; i++){
                value = nameBtns[i].innerText.toLowerCase();
                if(!value.includes(searchTerm) && !reset)
                    $(nameBtns[i].id).css('display', 'none');
                else
                    $(nameBtns[i].id).css('display', 'block');

            }
        }

    </script>
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'administrator/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'administrator/ui_components/top-menu.html' %}
{% endblock topmenu %}

{% block content %}

    <div id="patientPanel" class="panel panel-default">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3" style="text-align: right;">
            <div id="dataTables-example_filter" class="dataTables_filter">
                <label>
                    Search:<input id="PatientSearchBar" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example" onkeyup="search()">
                </label>
            </div>
        </div>
        {% for patient in Patients %}
            <div id="{{ patient.nric }}Panel"style="float:left; margin:10px 10px">
                <button class="btn btn-primary btn-lg" id="{{ patient.nric }}btn" onclick="display('{{ patient.nric }}')">
                    <div>
                        <img src="/static/img/profile_picture.svg" height="100px">
                    </div>
                    <div id="#{{ patient.nric }}Panel" class="name" style="font-size:15px">
                        <b>{{ patient.first_name}}<br>{{ patient.last_name}}</b>
                    </div>
                </button>
            </div>
        {% endfor %}
    </div>
    <div id="taskList" class="col-md-6 panel panel-primary" >

    </div>
    <div id="taskEditNAdd" class="col-md-6 panel panel-primary">

    </div>

    <!-- ADD Confirmation Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}