{% extends 'base.html' %}
{% block page_stylesheets %}
<style>

    #summaryCards{
        padding-top:10px;
    }

    #team-row{
        padding-top:30px;
    }

    #add_team_icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 21%;
    }

    #trigger_modal{
        display:none;
    }

    .hiddenwardname{
        display:none;
    }

    .hiddenLabel{
        visibility:hidden;
    }


    #input_box_row{
        padding-bottom:20px;
    }



</style>
<!-- Bootstrap Core CSS -->
    <link href="/static/dist/css/admin.css" rel="stylesheet">
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script src="/static/js/admin.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="/static/vendor/jquery/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>

        function search(){
            console.log("search event");
            var reset = false;
            var searchTerm = $("#search_team").val().toLowerCase();
            $('.searchPanel').css("display", "none");
            $('.searchPanel:contains("'+searchTerm+'")').css("display", "block");;
        }


        function addNurse() {
            var data = $.cookie('cookie-data');
            var id = $.cookie('team-id');
            try {
                data = JSON.parse(data);

            } catch(e) {
                //JSON parse error, this is not json (or JSON isn't in your browser)
                alert("Error in Parsing");
            }

            var modal = $('#exampleModal');

            var str = "";
            var i;

            for (i = 0; i < data.data.length; i++) {
                var Obj = data.data[i];

                str = str + "<tr id=\"trID"+Obj.id+"\">";//<td>";
                //str = str + (i+1) + "</td>";
                str = str + "<td id=\"tdName"+Obj.id+"\">";
                str = str + Obj.name;
                str = str + "</td>";
                str = str + "<td onclick=\"moveNursefromtdtoddl("+Obj.id+")\"  align=\"center\">";
                str = str + "<i class=\" fa fa-minus-circle fa-1x\" id=\""+Obj.id+"\"></i>";
                str = str + "</td>";
                str = str +"</tr>";
            }
            //$.cookie("row_count", i);

            if(data.data.length == 0){
                str = "<tr><td align='center' colspan='3'>There is no nurse in the current team</td></tr>";
                $.cookie('empty_nurse_table', 1);
            }
            $('#current_nurse_table_body').html(str);


            $.ajax({
                type: "POST",
                url: "/Admin/get_nurse_with_no_team_info/",
                data:
                    {
                        teamId: id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                success: function (data) {

                    try {
                        data = JSON.parse(data);

                    } catch(e) {
                        //JSON parse error, this is not json (or JSON isn't in your browser)
                        alert("Error in Parsing");
                    }
                    var i;
                    str = "";
                    for (i = 0; i < data.data.length; i++) {
                        var Obj = data.data[i];

                        str = str + "<option val=\""+Obj.id+"\" id=\""+Obj.id+"\">";
                        str = str + Obj.name;
                        str = str + "</option>";
                    }

                    if(data.data.length == 0){
                        $('#ddlNurseNoTeam').html($('<option>', {
                            value: '-1',
                            html : "All Nurses are allocated" ,
                            id : '0'
                        }));

                        $.cookie('empty_nurse_ddl',1);
                        $("#ddlNurseNoTeam").prop("disabled", true);
                    }
                    else
                        $('#ddlNurseNoTeam').html(str);


                    $('#add_nurse_trigger_modal').click();
                    //$('#exampleModal').hide();
                    $('#btnExitTeamInfo').click();
                }
            });


        }


        function movePatientfromtdtoddl(nric){


            nric = String(nric)+"";
            var name = $('#tdName'+nric).html();
            var bed = $('#tdBed'+nric).html();

            var usedString = $.cookie('numArray');
            var usedNumberArray = usedString.split(',');


            var numberArray = [];
            for(var i = 1; i <= 10; i++){
                numberArray.push(i);
            }
            for(var i = 0;i<usedNumberArray.length;i++){
                if(usedNumberArray[i]!=bed) {
                    var index = numberArray.indexOf(parseInt(usedNumberArray[i]));
                    numberArray.splice(index,1);
                }
            }
            index = usedNumberArray.indexOf(bed);
            usedNumberArray.splice(index,1);


            $.cookie('numArray',usedNumberArray);

            var str2 = "";
            for(var i = 0;i< numberArray.length;i++){
                str2 = str2 + "<option val=\"" + numberArray[i] + "\">";
                str2 = str2 + numberArray[i];
                str2 = str2 + "</option>";
            }
            $('#ddlSelectBed').html(str2);

            $('#trID'+nric).remove();
            var tbody = $('#current_patient_table_body');
            if (tbody.children().length == 0) {
                tbody.html("<tr><td align='center' colspan='3'>There is no Patients in the current team</td></tr>");
                $.cookie('empty_patient_table', 1);
            }


            var str = "";

            str = str + "<option val=\"" + nric + "\" id=\"" + nric + "\">";
            str = str + name;
            str = str + "</option>";
            var i = $.cookie('empty_patient_ddl');
            if(i == 0)
                $('#ddlPatientNoTeam').append(str);
            else{
                $("#ddlPatientNoTeam").prop("disabled", false);
                $("#ddlSelectBed").prop("disabled", false);
                $.cookie('empty_patient_ddl',0);
                $('#ddlPatientNoTeam').html(str);
            }

        }

        function moveNursefromtdtoddl(user_id){
            var name = $('#tdName'+user_id).html();

            $('#trID'+user_id).remove();
            var tbody = $('#current_nurse_table_body');
            if (tbody.children().length == 0) {
                tbody.html("<tr><td align='center' colspan='3'>There is no nurse in the current team</td></tr>");
                $.cookie('empty_nurse_table', 1);
            }



            var str = "";
            str = str + "<option val=\""+user_id+"\" id=\""+user_id+"\">";
            str = str + name;
            str = str + "</option>";
            var i = $.cookie('empty_nurse_ddl');
            if(i == 0)
                $('#ddlNurseNoTeam').append(str);
            else{
                $("#ddlNurseNoTeam").prop("disabled", false);
                $.cookie('empty_nurse_ddl',0);
                $('#ddlNurseNoTeam').html(str);
            }



        }


        function addPatient() {

            var id = $.cookie('team-id');
            $.ajax({
                type: "POST",
                url: "/Admin/get_patient_in_team/",
                data:
                    {
                        teamId: id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                success: function (data) {
                    try {
                        data = JSON.parse(data);

                    } catch(e) {
                        //JSON parse error, this is not json (or JSON isn't in your browser)
                        alert("Error in Parsing");
                    }
                    var i;
                    var str = "";

                    var numberArray = [];
                    for(var i = 1; i <= 10; i++){
                        numberArray.push(i);
                    }
                    var usedNumArray = [];
                    for (i = 0; i < data.data.length; i++) {
                        var Obj = data.data[i];
                        var nric = Obj.nric;
                        str = str + "<tr id=\"trID"+Obj.nric+"\">";//<td>";
                        //str = str + (i+1) + "</td>";
                        str = str + "<td id=\"tdName"+Obj.nric+"\">";
                        str = str + Obj.name;
                        str = str + "</td>";
                        str = str + "<td id=\"tdBed"+Obj.nric+"\">";
                        str = str + Obj.bed;
                        str = str + "</td>";
                        str = str + "<td onclick=\"movePatientfromtdtoddl(this.id)\" id=\""+nric+"\" align=\"center\">";
                        str = str + "<i class=\" fa fa-minus-circle fa-1x\" id=\""+nric+"\"></i>";
                        str = str + "</td>";
                        str = str +"</tr>";

                        var index = numberArray.indexOf(Obj.bed);
                        numberArray.splice(index, 1);
                        usedNumArray.push(Obj.bed);
                    }
                    $.cookie('numArray',usedNumArray);

                    var str2 = "";
                    for(i = 0;i< numberArray.length;i++){
                        str2 = str2 + "<option val=\"" + numberArray[i] + "\">";
                        str2 = str2 + numberArray[i];
                        str2 = str2 + "</option>";
                    }
                    $('#ddlSelectBed').html(str2);


                    if(data.data.length == 0){
                        str = "<tr><td align='center' colspan='3'>There is no patient in the current ward</td></tr>";
                        $.cookie('empty_patient_table', 1);
                    }

                    $('#current_patient_table_body').html(str);
                    $.ajax({
                        type: "POST",
                        url: "/Admin/get_patient_with_no_team_info/",
                        data:
                            {
                                teamId: id,
                                csrfmiddlewaretoken: "{{ csrf_token }}"
                            },
                        success: function (data) {

                            try {
                                data = JSON.parse(data);

                            } catch (e) {
                                //JSON parse error, this is not json (or JSON isn't in your browser)
                                alert("Error in Parsing");
                            }

                            var i;
                            str = "";
                            for (i = 0; i < data.data.length; i++) {
                                var Obj = data.data[i];

                                str = str + "<option val=\"" + Obj.nric + "\" id=\"" + Obj.nric + "\">";
                                str = str + Obj.name;
                                str = str + "</option>";
                            }
                            if (data.data.length == 0) {
                                $('#ddlPatientNoTeam').html($('<option>', {
                                    value: '-1',
                                    html: "All Patients are allocated",
                                    id: '0'
                                }));

                                $.cookie('empty_patient_ddl', 1);
                                $("#ddlPatientNoTeam").prop("disabled", true);
                                $("#ddlSelectBed").prop("disabled", true);
                            }
                            else {
                                $('#ddlPatientNoTeam').html(str);
                            }
                            $('#add_patient_trigger_modal').click();
                            $('#btnExitTeamInfo').click();
                        }
                    });
                }

            });


        }

        function populate(id){
             $.ajax({
                    type: "POST",
                    url: "/Admin/get_manage_team_info/",
                    data:
                        {
                            teamId: id,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                    success: function(data){

                      try {
                          data = JSON.parse(data);

                      } catch(e) {
                          //JSON parse error, this is not json (or JSON isn't in your browser)
                          alert("Error in Parsing");
                      }

                      var modal = $('#exampleModal');
                      //modal.find('.modal-title').text('New message to ');
                      //modal.find('.modal-body input').val();
                      var str = "";
                      var i;

                      for (i = 0; i < data.data.length; i++) {
                          var Obj = data.data[i];

                          str = str + "<tr><td>";
                          str = str + (i+1) + "</td>";
                          str = str + "<td>";
                          str = str + Obj.name;
                          str = str + "</td></tr>";
                      }
                      if(data.data.length==0){
                          str = "";
                          str = str + "<tr><td align=\"center\" colspan=\"2\">No Nurse allocated to this team</td></tr>"
                      }
                      str = str + "<tr class=\"tb_row_to_add\">" +
                              "<td  onclick=\"addNurse()\"  align=\"center\" colspan=\"2\">" +
                          "<i class=\"fa fa-plus-circle fa-3x\" id=\"add_nurse_to_team_icon\"></i>" +
                          "</td>" +
                          "</tr>";


                      $( "#nurse_table_body" ).html( str );

                      str = "";
                      for(i = 0;i<data.patientdata.length; i++){
                          var Obj = data.patientdata[i];

                          str = str + "<tr><td>";
                          str = str + (i+1) + "</td>";
                          str = str + "<td>";
                          str = str + Obj.name + "</td>";
                          str = str + "<td>";
                          str = str + Obj.bed;
                          str = str + "</td></tr>";
                      }

                      if(data.patientdata.length==0){
                          str = "";
                          str = str + "<tr><td align=\"center\" colspan=\"3\">No Patients allocated to this team</td></tr>"
                      }

                      str = str + "<tr  class=\"tb_row_to_add\">" +
                      "<td onclick=\"addPatient()\" align=\"center\" colspan=\"3\">" +
                      "<i class=\"fa fa-plus-circle fa-3x\" id=\"add_patient_to_team_icon\"></i>\n" +
                      "</td>" +
                      "</tr>";
                      $.cookie("team-id", id);
                      $.cookie("cookie-data", JSON.stringify(data));

                      $("#patient_table_body" ).html( str );

                      $(".tb_row_to_add").hide();

                      $('#btn_trigger_modal').click();
                    }
             });
        }


        $(document).ready(function(){

            $.cookie('empty_nurse_ddl',0);
            $.cookie('empty_nurse_table',0);
            $.cookie('empty_patient_ddl',0);
            $.cookie('empty_patient_table',0);

            $('#btnAddPatient').click(function(){
                var nric=$("#ddlPatientNoTeam").find('option:selected').attr('id');
                var name=$("#ddlPatientNoTeam").val();
                var bed=$("#ddlSelectBed").val();
                //var wardNo = $.cookie('wardNo');

                $("#ddlPatientNoTeam option:selected").remove();
                $("#ddlSelectBed option:selected").remove();

                var usedNumArray = $.cookie('numArray');
                var usedNumberArray = usedNumArray.split(',');
                usedNumberArray.push(bed);
                $.cookie('numArray',usedNumberArray);



                var length = $('#ddlPatientNoTeam > option').length;
                if(length == 0){
                    $('#ddlPatientNoTeam').append($('<option>', {
                        value: '-1',
                        text : "All Patients are allocated" ,
                        id : '0'
                    }));
                    $("#ddlPatientNoTeam").prop("disabled", true);
                    $.cookie('empty_patient_ddl',1);
                    $("#ddlSelectBed").prop("disabled", true);
                }

                var str = "";
                str = str + "<tr id=\"trID"+nric+"\">";//<td>";
                str = str + "<td id=\"tdName"+nric+"\">";
                str = str + name;
                str = str + "</td>";
                str = str + "<td id=\"tdBed"+nric+"\">";
                str = str + bed;
                str = str + "</td>";
                str = str + "<td onclick=\"movePatientfromtdtoddl(this.id)\" id=\""+nric+"\" align=\"center\">";
                str = str + "<i class=\" fa fa-minus-circle fa-1x\" id=\""+nric+"\"></i>";
                str = str + "</td>";
                str = str +"</tr>";

                var i =  $.cookie('empty_patient_table');
                if(i == 0) {
                    $('#current_patient_table_body').append(str);
                }else{
                    $.cookie('empty_patient_table', 0);
                    $('#current_patient_table_body').html(str);
                }

            });


            $('#btnSaveEditNurse').click(function(){
                var length = $('#ddlNurseNoTeam > option').length;
                var user_id;
                var item;
                var i;
                var nurseRemoved = [];
                for(i = 0; i < length ; i++){
                    user_id=$("#ddlNurseNoTeam").find('option:selected').attr('id');
                    $("#ddlNurseNoTeam option:selected").remove();
                    item = {};
                    item["user_id"] = user_id;
                    nurseRemoved.push(item);
                }
                var ddlLength = $.cookie('empty_nurse_ddl');
                if(ddlLength != 1) {
                    jsonString = JSON.stringify(nurseRemoved);
                }
                else
                    jsonString = "nop";
                $.ajax({
                    type: "POST",
                    url: "/Admin/remove_nurse_from_team/",
                    data:
                        {
                            data: jsonString,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                    success: function (data) {
                        var nurseAdded = [];
                        var tableLength = $.cookie('empty_nurse_table');
                        while ($('#current_nurse_table_body').is(':parent') && tableLength!=1) {
                            user_id = $("#current_nurse_table_body tr:first-child").attr('id');
                            $("#current_nurse_table_body tr:first-child").remove();
                            item = {};
                            user_id = user_id.replace("trID", "");
                            item["user_id"] = user_id;
                            nurseAdded.push(item);
                        }

                        if(tableLength == 1){
                            jsonString = "nop";
                        }else
                            jsonString = JSON.stringify(nurseAdded)
                        var team_id = $.cookie('team-id');
                        $.ajax({
                            type: "POST",
                            url: "/Admin/add_nurse_to_team/",
                            data:
                                {
                                    data: jsonString,
                                    teamid:team_id ,
                                    csrfmiddlewaretoken: "{{ csrf_token }}"
                                },
                            success: function (data) {
                                $('#btnExitEditNurse').click();
                            }
                        });
                    }
                });



            });

            $('#btnSaveEditPatient').click(function(){
                var length = $('#ddlPatientNoTeam > option').length;
                var nric;
                var patientsRemoved = [];
                for(i = 0; i < length ; i++){
                    nric=$("#ddlPatientNoTeam").find('option:selected').attr('id');
                    $("#ddlPatientNoTeam option:selected").remove();
                    item = {};
                    item["nric"] = nric;
                    patientsRemoved.push(item);
                }

                var ddlLength = $.cookie('empty_patient_ddl');
                if(ddlLength != 1) {
                    jsonString = JSON.stringify(patientsRemoved);
                }
                else
                    jsonString = "nop";
                $.ajax({
                    type: "POST",
                    url: "/Admin/remove_patient_from_team/",
                    data:
                        {
                            data: jsonString,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                    success: function (data) {
                        var length1 = $.cookie('empty_patient_table');
                        var patientsAdded = [];
                        while ($('#current_patient_table_body').is(':parent') && length1 != 1) {
                            nric = $("#current_patient_table_body tr:first-child").attr('id');
                            nric = nric.replace("trID", "");
                            var bed = $('#tdBed'+nric).html();
                            $("#current_patient_table_body tr:first-child").remove();
                            item = {};
                            item["nric"] = nric;
                            item["bed"] = "bed"+bed;
                            patientsAdded.push(item);
                        }
                        if(length1 == 1){
                            jsonString = "nop";
                        }else
                            jsonString = JSON.stringify(patientsAdded)
                        var team_id = $.cookie('team-id');
                        var wardNo =  "ward"+$.cookie('wardNo');
                        $.ajax({
                            type: "POST",
                            url: "/Admin/add_patient_to_team/",
                            data:
                                {
                                    data: jsonString,
                                    teamid:team_id ,
                                    wardno: wardNo,
                                    csrfmiddlewaretoken:"{{ csrf_token }}"
                                },
                            success: function (data) {
                               $('#btnExitEditPatient').click();
                            }
                        });


                    }
                });






            });

            $('#btnExitEditNurse').click(function(){
               //$('#exampleModal').show();
               var id = $.cookie('team-id');
               populate(id);
            });

            $('#btnExitEditPatient').click(function(){
               //$('#exampleModal').show();
               var id = $.cookie('team-id');
               populate(id);
            });

            $('#btnAddNurse').click(function(){
                var user_id=$("#ddlNurseNoTeam").find('option:selected').attr('id');
                var name=$("#ddlNurseNoTeam").val();

                //var user =

                //$("#ddlNurseNoTeam option[value='4']").remove();
                $("#ddlNurseNoTeam option:selected").remove();
                var length = $('#ddlNurseNoTeam > option').length;
                if(length == 0){
                    $('#ddlNurseNoTeam').append($('<option>', {
                        value: '-1',
                        text : "All Nurses are allocated" ,
                        id : '0'
                    }));
                    $("#ddlNurseNoTeam").prop("disabled", true);
                    $.cookie('empty_nurse_ddl',1);
                }
                //var i = parseInt($.cookie('row_count'));
                var str = "";
                str = str + "<tr id=\"trID"+user_id+"\">;"//<td>";
                //str = str + (i+1) + "</td>";
                str = str + "<td id=\"tdName"+user_id+"\">";
                str = str + name;
                str = str + "</td>";
                str = str + "<td onclick=\"moveNursefromtdtoddl("+user_id+")\"  align=\"center\">";
                str = str + "<i class=\" fa fa-minus-circle fa-1x\" id=\""+user_id+"\"></i>";
                str = str + "</td>";
                str = str +"</tr>";

                var i =  $.cookie('empty_nurse_table');
                if(i == 0) {
                    $('#current_nurse_table_body').append(str);
                }else{
                    $.cookie('empty_nurse_table', 0);
                    $('#current_nurse_table_body').html(str);
                }

            });

            $('#btnEdit').click(function(){
                //$("#inptBoxTeamName").removeAttr( "disabled" );
                //$("#inptBoxWardNo").removeAttr( "disabled" );
                $(".tb_row_to_add").show();
                $(".close").hide();
            });



            $('.btnTeam').click(function(){
                var id = this.id;
                var teamName = $('#team_Name'+ id).text();
                var wardNo = $('#ward' + id).text();

                $.cookie('wardNo',wardNo);
                $("#inptBoxWardNo").val(wardNo);
                $("#inptBoxTeamName").val(teamName);



                populate(id);


            });


        });



    </script>
{% endblock page_javascripts %}
{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="/Admin">Home</a></li>
    <li class="breadcrumb-item active">Manage Teams</li>
{% endblock breadcrumb %}

{% block sidebar %}
    {% include 'administrator/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'administrator/ui_components/top-menu.html' %}
{% endblock topmenu %}


{% block content %}

<div id="summaryCards" class="row page-header">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-md fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ activenursecount }}</div>
                        <div>Active Nurses</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ patientcount }}</div>
                        <div>Patients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ teamcount }}</div>
                        <div>Teams</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
     <div class="col-md-3">
     </div>
     <div class="col-md-3">
     </div>
     <div class="col-md-3">
     </div>
     <div class="col-md-3">
         <div id="dataTables-example_filter" class="dataTables_filter">
             <label>
                 Search:<input type="search" id="search_team" class="form-control input-sm" placeholder="" aria-controls="dataTables-example" onkeyup="search()">
             </label>
         </div>
     </div>
</div>

<div class="row" id="team-row">
    {% for team in teams %}
        <div class="searchPanel col-md-3 col-md-6">
            <div class="panel panel-default">
                <button type="button" class="btnTeam btn btn-outline btn-success btn-block" id="{{team.id}}">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class=test_to_search" id="team_Name{{ team.id }}">{{team.name}}</div>
                            <div class=test_to_search">Ward Number {{team.ward}}</div>
                            <div class="hiddenwardname" id="ward{{ team.id }}">{{team.ward}}</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    {% endfor %}

     <div class="col-md-3 col-md-6">
            <div class="panel panel-default">
                <button type="button"  id="addTeam" class="btn btn-outline btn-success btn-block" onclick="location.href = '/Admin/add_team';">
                    <i class="fa fa-plus-circle fa-3x" id="add_team_icon"></i>
                </button>

            </div>
     </div>

    <div id="trigger_modal">
         <button type="button" data-backdrop="static" data-keyboard="false" id="btn_trigger_modal"  data-toggle="modal" data-target="#exampleModal">
         </button>
        <button type="button" data-backdrop="static" data-keyboard="false" id="add_nurse_trigger_modal"  data-toggle="modal" data-target="#addNurseModal">
         </button>
        <button type="button" data-backdrop="static" data-keyboard="false" id="add_patient_trigger_modal"  data-toggle="modal" data-target="#addPatientModal">
         </button>

    </div>





</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Team Information</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class ="row" id="input_box_row">
                    <div class ="col-xs-5">
                        <label for="disabledSelect">Team Name</label>
                        <input class="form-control" id="inptBoxTeamName" type="text" placeholder="" disabled="" >
                    </div>
                    <div class ="col-xs-5">
                        <label for="disabledSelect">Ward</label>
                        <input class="form-control" id="inptBoxWardNo"  type="text" placeholder="" disabled="">
                    </div>
                </div>
                <div class ="row">
                    <div class="col-lg-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody id="nurse_table_body">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Bed</th>
                                </tr>
                            </thead>
                            <tbody id="patient_table_body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnExitTeamInfo" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnEdit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 2-->
<div class="modal fade" id="addNurseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Edit Nurses</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class ="row">
                    <div class="col-lg-4">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <!--<th>#</th>-->
                                    <th>Name</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="current_nurse_table_body"></tbody>
                        </table>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                             <div class="col-sm-7">
                                <label>Selects</label>
                                <select id="ddlNurseNoTeam" class="form-control">
                                </select>
                             </div>

                            <div class="col-sm-3">
                                <label class="hiddenLabel">Hi</label>
                                <button type="button" id="btnAddNurse" class="btn btn-primary">Add Nurse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnExitEditNurse" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSaveEditNurse" class="btn btn-primary">Apply Changes</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal 2-->
<div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Edit Patients</h1>
            </div>
            <div class="modal-body">
                <div class ="row">
                    <div class="col-lg-4">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Bed</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="current_patient_table_body">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                             <div class="col-sm-6">
                                <label>Selects</label>
                                <select id="ddlPatientNoTeam" class="form-control">
                                </select>
                             </div>
                            <div class="col-sm-2">
                                <label>Bed</label>
                                <select id="ddlSelectBed" class="form-control">
                                </select>
                             </div>
                            <div class="col-sm-3">
                                <label class="hiddenLabel">Hi</label>
                                <button type="button" id="btnAddPatient" class="btn btn-primary">Add Patient</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnExitEditPatient" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSaveEditPatient" class="btn btn-primary">Apply Changes</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}