{% extends 'base.html' %}

{% block page_stylesheets %}
    <style type="text/css">

    </style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script type="text/javascript">
        var link = document.createElement('link');
        link.href = "/static/dist/css/admin.css";
        link.rel = "stylesheet";
        document.getElementsByTagName("head")[0].appendChild(link)

        function categoryPiechartInit(){
            $.ajax({
                type:"GET",
                url: "/Admin/get_category_pie_data/",
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    new Morris.DonutSegment({
                        element:'category-pie-chart',

                        data:{

                        }
                    });
                },
                error: function(data){
                    console.log(data);
                }
            });
        }

    </script>
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'administrator/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'administrator/ui_components/top-menu.html' %}
{% endblock topmenu %}

{% block content %}

    <div class="panel panel-default row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3" style="text-align: right;">
            <div id="dataTables-example_filter" class="dataTables_filter">
                <label>
                    Search:<input id="PatientSearchBar" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example">
                </label>
            </div>
        </div>
        {% for patient in Patients %}
        <div style="width:110px; float:left; margin:10px 20px">
            <button class="btn btn-primary btn-lg" id="{{ patient.nric }}btn">
                <div>
                    <img src="/static/img/profile_picture.svg" height="100px">
                </div>
                <div class="" style="font-size:15px">
                    <b>{{ patient.first_name}}<br>{{ patient.last_name}}</b>
                </div>
            </button>
        </div>
        {% endfor %}
    </div>
    <div class="panel panel-default row">
        
    </div>
{% endblock content %}