<li class="dropdown" id="alertBellNotification">
    <a class="dropdown-toggle" data-toggle="dropdown" onclick="updateNotiCount();">
        {% if unreadNotifications > 0 %}
            <span class="badge badge-pill badge-warning" id="change1">{{ unreadNotifications }}</span>
        {% endif %}
        <i class="fa fa-bell fa-fw"></i>
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">

        <strong class="dropdown-header" style="margin-top:10px">Recent Notifications</strong>



	    {% if myNotifications %}
		    {% for n in myNotifications %}
		    <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <strong>{{ n.type }}</strong>
	                    <span class="pull-right text-muted">
	                                    <em>{{ n.time }}</em>
	                                </span>
	                </div>
					<div>{{ n.title }}</div>
	                <div>{{ n.task.title }}</div>
	            </a>
	        </li>
		    {% endfor %}
		{% endif %}
        <li class="divider"></li>
        <strong class="dropdown-header" style="margin-top:10px">Last Updated: {{ curTime }}</strong>
    </ul>
    <!-- /.dropdown-messages -->
</li>