{% extends 'base.html' %}

{% block title %}
	Home
{% endblock title %}

{% block page_stylesheets %}
    <style type="text/css">
        body {
            background-color: #f8f8f8;
        }
        .input-group-addon {
            min-width: 100px;
        }
        #page-wrapper
        {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .field-name
        {
            color: #586069 !important
        }

        .field-value
        {

        }

        .field-wrapper:after
        {

        }
    </style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
	<script src="/static/js/jquery.dataTables.min.js"></script>
	<script src="/static/js/dataTables.bootstrap.min.js"></script>
		<script src="/static/js/Chart.bundle.min.js"></script>

	<script src="/static/js/nurse.js"></script>
    <script>

        $(document).ready(function(){
            setInterval(render_current_task,30000);
            $("#btnCreateRequest").click(create_request);

            $("#btnCompleteTask").click(complete_task);

            initGraphs();
        });

        function create_request(){
               $.ajax({
                    type:"POST",
                    url:"/Nurse/add_help_request",
                    success: function(data, status, jqxhr){
                        console.log(data);
                        console.log(status);
                        new PNotify({
                            title: 'Help Request Sent',
                            text: 'A new help request for the current task has been sent',
                            type: 'success'
                        });
                    },
                    error: function(data, status, jqxhr)
                    {
                        console.log(data);
                        console.log(status);
                    }
               });
        }

        function complete_task()
        {
            $.ajax({
                type: "POST",
                url:"/Nurse/complete_task/",
                success:function(data, status, jqxhr)
                {
                    console.log(data);
                    if(data === "SUCCESS")
                    {
                        new PNotify({
                            title: 'Task is completed',
                            text: 'Your task is indicated as complete',
                            type: 'success'
                        });
                        setTimeout(function(){
                            window.location.reload();
                        },4000);
                    }
                    else
                    {
                         console.log(data);
                         new PNotify({
                            title: 'Unable to mark task as complete',
                            text: "We couldn't mark your task as complete, please contact the adminstrator",
                            type: 'error'
                         });
                    }
                },
                error: function(data, status, jqxhr)
                {
                       new PNotify({
                            title: "Can't connect",
                            text: "We couldn't connect to the server",
                            type: 'error'
                       });
                }
            });

        }

        function render_current_task()
        {
            console.log("RENDER CURRENT TASK");
            $.ajax({
                type: "POST",
                url:"/Nurse/current_task",
                success:function(data, status, jqxhr)
                {
                    $("#page-wrapper").html(data);
                    $("#btnCreateRequest").click(create_request);
                    $("#btnCompleteTask").click(complete_task);
                    initGraphs();
                }
            });
        }

        function initGraphs() {
          console.log("Load");
          var data2 = {
            labels: ["a", "b", "c", "d", "e", "f", "g"],
            datasets: [
            {
                label: "{{ nurse.user.first_name }}" + " " + "{{ nurse.user.last_name }}",
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1,
                data: [1, 2, 3, 4, 5, 6, 7]
            }
            ]
        };

        var chart_1_container = document.getElementById("triage1");
        var chart_2_container = document.getElementById("triage1");
        var chart_3_container = document.getElementById("triage1");


        if(ctx1 && ctx2 && ctx3)
        {

            var ctx1 = chart_1_container.getContext('2d');
            var ctx2 = chart_2_container.getContext('2d');
            var ctx3 = chart_3_container.getContext('2d');

            var myChart = new Chart(ctx1, {
                type: 'bar',
                data: data2,
                options: {
                    title: {
                        display: true,
                        text: "Body Temperature"
                    },
                    legend: {
                        labels: {
                            fontSize: 10,
                        },
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 2,
                            }
                        }]
                    }
                }
            });

            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: data2,
                options: {
                    title: {
                        display: true,
                        text: "Blood Pressure"
                    },
                    legend: {
                        labels: {
                            fontSize: 10,
                        },
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 2,
                            }
                        }]
                    }
                }
            });

            var myChart = new Chart(ctx3, {
                type: 'bar',
                data: data2,
                options: {
                    title: {
                        display: true,
                        text: "Blood Sugar"
                    },
                    legend: {
                        labels: {
                            fontSize: 10,
                        },
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 2,
                            }
                        }]
                    }
                }
            });
        }

    }

    </script>
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'nurse/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'nurse/ui_components/top-menu.html' %}
{% endblock topmenu %}

<!-- Add the page hierarchy here -->
{% block breadcrumb %}
    <!--<li class="breadcrumb-item active">{{ page_name }}</li>-->
{% endblock breadcrumb %}

{% block content %}

{% if assigned_task == none %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            No Task Currently Assigned
        </h3>
    </div>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Task Title: {{ assigned_task.task.title }}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row field-wrapper">
            <div class="col-sm-1 field-name">
                <p>Description</p>
            </div>
            <div class="col-sm-11">
                <p>{{ assigned_task.task.title }} </p>
            </div>
        </div>
        <hr>
        <div class="row field-wrapper">
            <div class="col-sm-1 field-name">
                <p>Start Time</p>
            </div>
            <div class="col-sm-11">
                <p>{{ assigned_task.task.start_time }}</p>
            </div>
        </div>
        <hr>
        <div class="row field-wrapper">
            <div class="col-sm-1 field-name">
                <p>Duration</p>
            </div>
            <div class="col-sm-11">
                <p>{{ assigned_task.task.duration }}</p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <button class="btn btn-warning btn-block btn-lg" id="btnCreateRequest">
                    Request Help
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-success btn-block btn-lg" id="btnCompleteTask">
                    Mark As Complete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Patient Details
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>Patient Info</h4>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>First Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.first_name }}</p>
                    </div>
                </div>
                <hr>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>Last Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.last_name }}</p>
                    </div>
                </div>
                <hr>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>Date of Birth</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.date_of_birth }}</p>
                    </div>
                </div>
                <hr>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>Ward Number</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.ward }}</p>
                    </div>
                </div>
                <hr>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>Bed Number</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.bed }} </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Triage Information
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
	            <div class="row" style="height:300px; margin-bottom:15px;">
				<div class="col-md-4" style="height:100%;">
				    <canvas id="triage1" style="height:100%; width:100%;"></canvas>
				</div>
				 <div class="col-md-4" style="height:100%; border-left: 1px; border-right: 1px; border-top:0px; border-bottom: 0px; border-style:solid;">
					 <canvas id="triage2" style="height:100%; width:100%;"></canvas>
				</div>
				 <div class="col-md-4" style="height:100%;">
					 <canvas id="triage3" style="height:100%; width:100%;"></canvas>
				</div>
			</div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}






