{% extends 'base.html' %}
{% block page_stylesheets %}
    <style type="text/css">
        body {
            background-color: #f8f8f8;
        }
        .input-group-addon {
            min-width: 100px;
        }
        #page-wrapper
        {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .field-name
        {
            color: #586069 !important
        }

        .field-value
        {

        }

        .field-wrapper:after
        {

        }
    </style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
	<script src="/static/js/jquery.dataTables.min.js"></script>
	<script src="/static/js/dataTables.bootstrap.min.js"></script>
	<script src="/static/js/nurse.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(render_current_task,30000);
            $("#btnCreateRequest").click(create_request);

            $("#btnCompleteTask").click(complete_task);
        });

        function create_request(){
               $.ajax({
                    type:"POST",
                    url:"/Nurse/add_help_request",
                    success: function(data, status, jqxhr){
                        console.log(data);
                        console.log(status);
                        new PNotify({
                            title: 'Help Request Sent',
                            text: 'A new help request for the current task has been sent',
                            type: 'success'
                        });
                    },
                    error: function(data, status, jqxhr)
                    {
                        console.log(data);
                        console.log(status);
                    }
               });
        }

        function complete_task()
        {
            $.ajax({
                type: "POST",
                url:"/Nurse/complete_task/",
                success:function(data, status, jqxhr)
                {
                    console.log(data);
                    if(data === "SUCCESS")
                    {
                        new PNotify({
                            title: 'Task is completed',
                            text: 'Your task is indicated as complete',
                            type: 'success'
                        });
                        setTimeout(function(){
                            window.location.reload();
                        },4000);
                    }
                    else
                    {
                         console.log(data);
                         new PNotify({
                            title: 'Unable to mark task as complete',
                            text: "We couldn't mark your task as complete, please contact the adminstrator",
                            type: 'error'
                         });
                    }
                },
                error: function(data, status, jqxhr)
                {
                       new PNotify({
                            title: "Can't connect",
                            text: "We couldn't connect to the server",
                            type: 'error'
                       });
                }
            });

        }

        function render_current_task()
        {
            $.ajax({
                type: "POST",
                url:"/Nurse/list_help_request",
                success:function(data, status, jqxhr)
                {
                    $("#wrapper").prepend(data);
                    $("#btnCreateRequest").click(create_request);
                    $("#btnCompleteTask").click(complete_task);
                }
            });
        }



    var data2 = {
	    labels: ["a","b","c","d","e","f","g"],
		datasets: [
            {
                label: "{{ nurse.user.first_name }}" + " " + "{{ nurse.user.last_name }}",
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1,
                data: [1,2,3,4,5,6,7]
            }
        ]
    };

    $( document ).ready(function() {
        try
        {
            var ctx1 = document.getElementById("triage1").getContext('2d');
            var myChart = new Chart(ctx1, {
                type: 'bar',
                data: data2,
                options: {
                    title: {
                        display: true,
                        text: "Body Temperature"
                    },
                    legend: {
                        labels: {
                            fontSize: 10,
                        },
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 2,
                            }
                        }]
                    }
                }
            });

            var ctx2 = document.getElementById("triage2").getContext('2d');
            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: data2,
                options: {
                    title: {
                        display: true,
                        text: "Blood Pressure"
                    },
                    legend: {
                        labels: {
                            fontSize: 10,
                        },
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 2,
                            }
                        }]
                    }
                }
            });

            var ctx3 = document.getElementById("triage3").getContext('2d');
            var myChart = new Chart(ctx3, {
                type: 'bar',
                data: data2,
                options: {
                    title: {
                        display: true,
                        text: "Blood Sugar"
                    },
                    legend: {
                        labels: {
                            fontSize: 10,
                        },
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 2,
                            }
                        }]
                    }
                }
            });
        }
        catch(err){}
    });

    </script>
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'nurse/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'nurse/ui_components/top-menu.html' %}
{% endblock topmenu %}

<!-- Add the page hierarchy here -->
{% block breadcrumb %}
    <!--<li class="breadcrumb-item active">{{ page_name }}</li>-->
{% endblock breadcrumb %}

{% block content %}
    {% include 'nurse/ui_components/current_task.html' %}
{% endblock content %}






