{% extends 'base.html' %}
{% block page_stylesheets %}
    <style type="text/css">
        body {
            background-color: #f8f8f8;
        }
        .input-group-addon {
            min-width: 100px;
        }
        #page-wrapper
        {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .field-name
        {
            color: #586069 !important
        }

        .field-value
        {

        }

        .field-wrapper:after
        {

        }
    </style>
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script>
        $(document).ready(function(){
            setInterval(poll_requests, 3000);

            $("#btnCreateRequest").click(function(){
               $.ajax({
                    type:"POST",
                    url:"/Nurse/add_help_request",
                    success: function(data, status, jqxhr){
                        console.log(data);
                        console.log(status);
                        new PNotify({
                            title: 'Help Request Sent',
                            text: 'A new help request for the current task has been sent',
                            type: 'success'
                        });
                    },
                    error: function(data, status, jqxhr)
                    {
                        console.log(data);
                        console.log(status);
                    }
               });
            });
        });

        function poll_requests(){
            $.ajax({
                type: "POST",
                url:"/Nurse/list_help_request",
                success:function(data, status, jqxhr)
                {
                    console.log(data);
                },
                error: function(data, status, jqxhr)
                {
                    console.log(data);
                }
            });
        }
    </script>
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'nurse/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'nurse/ui_components/top-menu.html' %}
{% endblock topmenu %}

<!-- Add the page hierarchy here -->
{% block breadcrumb %}
    <!--<li class="breadcrumb-item active">{{ page_name }}</li>-->
{% endblock breadcrumb %}

{% block content %}

{% if assigned_task == none %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            No Task Currently Assigned
        </h3>
    </div>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Task Title: {{ assigned_task.task.title }}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row field-wrapper">
            <div class="col-sm-1 field-name">
                <p>Description</p>
            </div>
            <div class="col-sm-11">
                <p>{{ assigned_task.task.title }} </p>
            </div>
        </div>
        <hr>
        <div class="row field-wrapper">
            <div class="col-sm-1 field-name">
                <p>Start Time</p>
            </div>
            <div class="col-sm-11">
                <p>{{ assigned_task.task.start_time }}</p>
            </div>
        </div>
        <hr>
        <div class="row field-wrapper">
            <div class="col-sm-1 field-name">
                <p>Duration</p>
            </div>
            <div class="col-sm-11">
                <p>{{ assigned_task.task.duration }}</p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <button class="btn btn-warning btn-block btn-lg" id="btnCreateRequest">
                    Request Help
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-success btn-block btn-lg" id="btnComplete">
                    Mark As Complete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Patient Details
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <h4>Patient Info</h4>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>First Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.first_name }}</p>
                    </div>
                </div>
                <hr>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>Last Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.last_name }}</p>
                    </div>
                </div>
                <hr>
                <div class="row field-wrapper">
                    <div class="col-sm-3 field-name">
                        <p>Date of Birth</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ assigned_task.task.patient.date_of_birth }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Daily Triage</h4>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

