{% extends 'base.html' %}
{% block title %}{{ page_name }}{% endblock title %}
{% block page_stylesheets %}
{% endblock page_stylesheets %}
{% block page_javascripts %}
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'nurse/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'nurse/ui_components/top-menu.html' %}
{% endblock topmenu %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="/Nurse">Home</a></li>
    <li class="breadcrumb-item active"><a href="/Nurse/view_nurse">View Nurse</a></li>
    <li class="breadcrumb-item active"><a href="/Nurse/view_nurse/{{ nurse_id }}">{{ nurse_id }}: {{ nurse_name }}</a></li>
    <li class="breadcrumb-item">Productivity Report</li>
{% endblock breadcrumb %}

{% block content %}
	<div class="row col-md-12" style="margin-bottom:20px;">
            <h1>Productivity Report</h1>
    </div>

	<div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">
            <img src="{{STATIC_URL}}img/profile_picture.svg" alt="profile_picture" class="img-square" style="border:1px; border-style:solid;">
        </div>


	</div>
{% endblock content %}
