{% extends 'base.html' %}
{% block title %}{{ page_name }}{% endblock title %}
{% block page_stylesheets %}
{% endblock page_stylesheets %}
{% block page_javascripts %}
{% endblock page_javascripts %}

{% block sidebar %}
    {% include 'nurse/ui_components/sidebar.html' %}
{% endblock sidebar %}

{% block topmenu %}
    {% include 'nurse/ui_components/top-menu.html' %}
{% endblock topmenu %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="/Nurse">Home</a></li>
{% endblock breadcrumb %}
{% block content %}
{% endblock content %}
